<%= form_for @changeset,Routes.album_path(@conn,:update,@post), [multipart: true],fn f -> %>
    <div class="form-group">
    <%= text_input f, :title , class: "form-control mt-4" , placeholder: "Enter title" %>
    <%= text_input f, :body , class: "form-control mt-4" , placeholder: "Enter article" %>
    <% file_input f, :image , class: "form-control mt-4" %>
    <%= submit "Submit", class: "btn btn-primary mt-5" %>
    </div>
<% end %>
